.card {
    height: 42%;
    width: 210px;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px
}

.colorDiv {
    height: 75%;
    width: 100%;
}

.colorCode {
    height: 25%;
    width: 100%;
    padding: 15px;
    font-family: sans-serif;
}

.colorCode p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}